
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.banner{
max-width: 1320px;
border-radius: 16px;
box-shadow: 0px 4px 4px 0px black;
margin: 0 auto;
display: block;

}
.container{
    position: relative;
   text-align: center;
   
}
.text-block{
    position: absolute;
    width: 632px;
    height: 246px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -80%);
   text-align: center;
  
}
.physics{
    font-size: 32px;
    color: #FFFFFF;
    /* font-weight: black; */
    text-align: center;
    margin-top:px;

}
.waiver{
    font-size: 72px;
    /* font-weight: black; */
    color: #FFFFFF;
    margin-top: 16px;
}
.marjin{
    margin: 0 auto;
    max-width: 1320px;
    margin-bottom: 120px;
  
}
.banner-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: 500px;
    color: #FF0000;
    margin-top: 48px;
}
.banner-mean{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-top: 16px;
}
.photo{
    margin: 0 auto;
    display: block;

}


.first-part{
  margin: 0 auto;
    width: 50%;
    margin-top: 120px;
    
    max-width: 800px;

}

.second-part{
    text-align: center;
}

/* Third-part */
.oval-shape{
position: relative;

}
.image3{
position: relative;

}
.image4{
position: absolute;
top: 68px;
right: 138px;
}
.fact-check{
    margin: 0 auto;
}
.third-part{
    position: relative;
    text-align: center;
    margin-top: 120px;
    max-width: 1320px;
    margin: 0 auto;
  
}

.bottom{
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin: 126px 552px 298px 110px;
    width: 642px;
    height: 176px;
    font-size: 64px;
    font-weight: black;
    color: #FFFFFF;
}
.paragraph{
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin: 326px 497px 214px 110px;
    margin-top: 24px;
    width: 700px;

}
.short-title{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin: 434px 900px 142px 158px;
}
/* banner */
.banner2{
    font-size: 32px;
    font-weight: 600px;
    color: #070211;
}
.banner2-color{
    color: #FF0000;
}
.buton{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 8px;
    padding: 16px 32px;
    margin: 48px 190px;
}
.bangla{
    margin: 0 auto;
    max-width: 1320px;
    height: 480px;
    background-color: #FFEBEB;
    margin-top: 120px;
    border-radius: 15px;
    gap: 70px;
}
.english{
    padding: 110px 380px;
}

/* banner3.0 */
.ban-subtitle{
    font-size: 24px;
    font-weight: 500px;
    margin-top: 224px;
    /* width: 393px; */
    
    
    

}
.ban-title{
    font-size: 48px;
    font-weight: black;
    color: #070211;
    

}
.ban-description{
    font-size: 20px;
    color: #070211;
    margin-top: 22px;
}
.bang-title{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 232px;
    
    
}
.bang-description{
    font-size: 20px;
    color: #070211;
    margin-top: 16px;
}
.image-title{
    margin-top: 43px;
}
.bang-easy{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    height: 463px;
   
    
   
}
.border{ 
    width: 463px;
    height: 463px;
    border: 10px solid #FF0000;
    display: flex;
    margin-top: 120px;
    border-radius: 50%;
    padding: 20px;
    margin-left: 70px;
    margin-right: 118px;
    
}
/* infinity level */
.upper-section{
    max-width: 1070px;
    margin: 0 auto;
    text-align: center;
}
.title-infinity{
    font-size: 24px;
    font-weight: 500px;
    color: #070211;
    margin-top: 320px;

}
.subtitle-infinity{
    font-size: 72px;
    font-weight: black;
    color: #070211;

}
.discription-infinity{
    font-size: 20px;
    font-weight: 500px;
    color: #070211;
}
.banner-infinity{
    margin: 0 auto;
    max-width: 1320px;
    
}

.backgra{
    background-color: transparent;
    background: none;

}
.lower-section{
    object-fit: none;
   float: right;
}
 .image1{
    position: absolute;
    margin-top: 497px;
 }
 .image2{
    position: absolute;
    margin-bottom: 90px;
    
 }
 .card-section{
    max-width: 1320px;
    margin: 0 auto;
    
 }
 .card-subtitle{
    margin-top: 900px;
    font-size: 24px;
    font-weight: 500px;
    color: #FF0000;
 }
 .card-title{
    font-size: 48px;
    font-weight: black;
    color: #070211;
    margin-top: 16px;
 }
 .card-description{
    font-size: 20px;
    color: #070211;
    margin-top: 22px;
 }
 .card-photo{
    margin-top: 48px;
 }

 /* Group- section */
 .group-section{
    max-width: 1320px;
    margin: 0 auto;
    background-color: #FFEBEB;
    border-radius: 16px;
    margin-top: 120px;
 }
 .group-photo{
   display: block;
   margin: auto;
 }
 .group-title{
    text-align: center;
    font-size: 48px;
    font-weight: black;
    color: #070211;
 }
 .group-description{
    text-align: center;
    font-size: 20px;
    color: #070211;
   
 }
 .group-button{
    margin: 0 auto;
    text-align: center;
    
    
 }
form input[type='text']{
    height: 72px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 50%;
 }
 /* footer-section */
 .footer-section{
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    color: #FFFFFF;
    /* margin-top: 240px; */

 }
 .back-color{
    background-color: #070211;
    max-width: 1600px;
    height: 610px;
    margin-top: 120px;
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
 }
 .footer-pera{
  margin-top: 120px;  
 }
 .beside{
    margin-top: 120px;
 }
 .border-line{
    max-width: 1320px;
    text-align: center;
    margin-top: 50px;
 }
 .icon{
    text-align: center;
    margin-top: 48px;
 }
 .last-option{
    font-size: 24px;
    font-weight: 500px;
    color: #FFFFFF;
 }
 .icpc{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }
